# Debugger statement
snippet deb
	debugger;
# Function
snippet fun
	function ${1:function_name}(${2:argument}) {
		${0:// body...}
	}
# Anonymous Function
snippet f
	function(${1}) {
		${0}
	}
# Immediate function
snippet (f
	(function(${1}) {
		${0}
	}(${2}));
