[user]
	name = arkwright
	email = 1445684+arkwright@users.noreply.github.com
[core]
	editor = mvim -f
	excludesfile = /Users/robertarkwright/.gitignore_global
  pager = cat
[merge]
	tool = mvimdiff
[mergetool "mvimdiff"]
	cmd = /usr/local/bin/mvim -d \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[push]
	default = simple
