[user]
	name = arkwright
[core]
	editor = mvim -f
  pager = cat
[merge]
	tool = mvimdiff
[mergetool "mvimdiff"]
	cmd = /usr/local/bin/mvim -d \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[push]
	default = simple
